<div class="container py-5">
  <div class="row">
    <div class="col-md-3 h-10" style="background: #f3f3f3;">
      <div class="mx-3">
        Sidebar
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mx-3">
        <div class="card-header p-4">
          <h2>Unidades de adscripción</h2>
          <p class="text-muted">
            En este panel se encuentran todas las unidades de adscripción (laboratorios) pertenecientes a la ULab.
            Estos datos son visibles en la página principal.
          </p>
          <p class="mb-0">
            <a href="/admin/laboratorios/add" class="btn btn-primary btn-md">
              <i class="fa-solid fa-plus"></i>
              <span> Agregar nueva</span>
            </a>
          </p>
        </div>
        <div class="card-body p-4">
          {{#if labs}}
            <table class="table table-sm align-middle labs-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Área de investigación</th>
                  <th>Ubicación</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each labs}}
                  <tr>
                    <td>
                      <a href="{{ slug }}">
                        {{ name }}
                      </a>
                    </td>
                    <td>{{ area }}</td>
                    <td>{{ location }}</td>
                    <td>
                      <a href="/admin/laboratorios/{{slug}}/delete" title="Eliminar" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                      </a>
                      <a href="/admin/laboratorios/{{slug}}/edit" title="Editar" class="btn btn-sm btn-info text-white">
                        <i class="fa-solid fa-pencil"></i>
                      </a>
                      <a href="{{ slug }}" title="Visitar" class="btn btn-sm btn-primary text-white">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="alert alert-primary d-flex justify-content-center py-auto">
              <p class="text-primary m-0">No hay registros disponibles</p>
            </div>
          {{/if}}


        </div>
      </div>
    </div>
  </d>
</div>